.song-display-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the start */
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.main-container {
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  padding: 10px 15px;
}

.song-item {
  width: 45%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  text-align: center;
  white-space: pre-line;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .song-item {
    width: 100%;
    margin-bottom: 15px;
  }
}
